.font{
	font-family:Noto Sans Tai Tham;
}

.Blure {
	position: absolute;
	top: 50px;
	width: 989px;
	height: 630px;
	backdrop-filter: blur(7px);
	background: linear-gradient(251.16deg, rgba(20, 20, 20, 0.20) 0%, rgba(20, 20, 20, 0.20) 62.81%, rgba(20, 20, 20, 0.20) 100%);
	border-radius: 10px;
}


@media screen and (max-width:600px) {
	.Blure {
	top: 24px;
	width: 375px;
	height: 1000px;
	overflow-x: hidden;
	}
  }
